In [1]:
import pandas as pd
import pickle

In [2]:
with open('raw_data/train_nextDayPlayerEngagement.pkl', 'rb') as pkl:
    train_nextDayPlayerEngagement = pickle.load(pkl)

with open('raw_data/train_playerBoxScores.pkl', 'rb') as pkl:
    train_playerBoxScores = pickle.load(pkl)

In [3]:
print(train_nextDayPlayerEngagement.head())
print(train_nextDayPlayerEngagement.shape)

  engagementMetricsDate  playerId   target1    target2    target3    target4  \
0            2018-01-02    628317  0.011167   4.474708   0.005168   5.735294
1            2018-01-02    547989  0.042993   5.593385   0.045033   2.794118
2            2018-01-02    519317  0.974327  56.177043  13.693746  64.166667
3            2018-01-02    607625  0.006700   2.675097   0.005168   1.862745
4            2018-01-02    592547  0.001117   0.632296   0.002953   0.931373

   index       date
0      0 2018-01-01
1      0 2018-01-01
2      0 2018-01-01
3      0 2018-01-01
4      0 2018-01-01
(2506176, 8)

In [4]:
train_nextDayPlayerEngagement.head()

,engagementMetricsDate,playerId,target1,target2,target3,target4,index,date
0,2018-01-02,628317,0.011167,4.474708,0.005168,5.735294,0,2018-01-01
1,2018-01-02,547989,0.042993,5.593385,0.045033,2.794118,0,2018-01-01
2,2018-01-02,519317,0.974327,56.177043,13.693746,64.166667,0,2018-01-01
3,2018-01-02,607625,0.006700,2.675097,0.005168,1.862745,0,2018-01-01
4,2018-01-02,592547,0.001117,0.632296,0.002953,0.931373,0,2018-01-01

In [5]:
# primary position name
# team id
train_playerBoxScores.head()

,home,gamePk,gameDate,gameTimeUTC,teamId,teamName,playerId,playerName,jerseyNum,positionCode,...,sacFliesPitching,saves,holds,blownSaves,assists,putOuts,errors,chances,index,date
0,1,529418,2018-03-29,2018-03-29T23:08:00Z,119,Los Angeles Dodgers,605131,Austin Barnes,15,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87,2018-03-29
1,1,529406,2018-03-29,2018-03-29T20:00:00Z,139,Tampa Bay Rays,605480,Mallex Smith,0,7,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,87,2018-03-29
2,0,529416,2018-03-29,2018-03-29T20:10:00Z,143,Philadelphia Phillies,546318,Odubel Herrera,37,8,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,87,2018-03-29
3,0,529412,2018-03-29,2018-03-29T20:05:00Z,108,Los Angeles Angels,527043,Jefry Marte,19,3,...,NaN,NaN,NaN,NaN,0.0,1.0,0.0,1.0,87,2018-03-29
4,1,529408,2018-03-29,2018-03-29T20:15:00Z,118,Kansas City Royals,449181,Paulo Orlando,16,8,...,NaN,NaN,NaN,NaN,0.0,2.0,0.0,2.0,87,2018-03-29

In [6]:


train = pd.merge(train_nextDayPlayerEngagement, train_playerBoxScores, how = 'left', on =  ['date','playerId'])

In [7]:
print(train.shape)
print(train.head())
print(train.columns)

(2508359, 93)
  engagementMetricsDate  playerId   target1    target2    target3    target4  \
0            2018-01-02    628317  0.011167   4.474708   0.005168   5.735294
1            2018-01-02    547989  0.042993   5.593385   0.045033   2.794118
2            2018-01-02    519317  0.974327  56.177043  13.693746  64.166667
3            2018-01-02    607625  0.006700   2.675097   0.005168   1.862745
4            2018-01-02    592547  0.001117   0.632296   0.002953   0.931373

   index_x       date  home  gamePk  ... sacBuntsPitching sacFliesPitching  \
0        0 2018-01-01   NaN     NaN  ...              NaN              NaN
1        0 2018-01-01   NaN     NaN  ...              NaN              NaN
2        0 2018-01-01   NaN     NaN  ...              NaN              NaN
3        0 2018-01-01   NaN     NaN  ...              NaN              NaN
4        0 2018-01-01   NaN     NaN  ...              NaN              NaN

   saves holds blownSaves assists putOuts errors chances  index_y
0    NaN   NaN        NaN     NaN     NaN    NaN     NaN      NaN
1    NaN   NaN        NaN     NaN     NaN    NaN     NaN      NaN
2    NaN   NaN        NaN     NaN     NaN    NaN     NaN      NaN
3    NaN   NaN        NaN     NaN     NaN    NaN     NaN      NaN
4    NaN   NaN        NaN     NaN     NaN    NaN     NaN      NaN

[5 rows x 93 columns]
Index(['engagementMetricsDate', 'playerId', 'target1', 'target2', 'target3',
       'target4', 'index_x', 'date', 'home', 'gamePk', 'gameDate',
       'gameTimeUTC', 'teamId', 'teamName', 'playerName', 'jerseyNum',
       'positionCode', 'positionName', 'positionType', 'battingOrder',
       'gamesPlayedBatting', 'flyOuts', 'groundOuts', 'runsScored', 'doubles',
       'triples', 'homeRuns', 'strikeOuts', 'baseOnBalls', 'intentionalWalks',
       'hits', 'hitByPitch', 'atBats', 'caughtStealing', 'stolenBases',
       'groundIntoDoublePlay', 'groundIntoTriplePlay', 'plateAppearances',
       'totalBases', 'rbi', 'leftOnBase', 'sacBunts', 'sacFlies',
       'catchersInterference', 'pickoffs', 'gamesPlayedPitching',
       'gamesStartedPitching', 'completeGamesPitching', 'shutoutsPitching',
       'winsPitching', 'lossesPitching', 'flyOutsPitching', 'airOutsPitching',
       'groundOutsPitching', 'runsPitching', 'doublesPitching',
       'triplesPitching', 'homeRunsPitching', 'strikeOutsPitching',
       'baseOnBallsPitching', 'intentionalWalksPitching', 'hitsPitching',
       'hitByPitchPitching', 'atBatsPitching', 'caughtStealingPitching',
       'stolenBasesPitching', 'inningsPitched', 'saveOpportunities',
       'earnedRuns', 'battersFaced', 'outsPitching', 'pitchesThrown', 'balls',
       'strikes', 'hitBatsmen', 'balks', 'wildPitches', 'pickoffsPitching',
       'rbiPitching', 'gamesFinishedPitching', 'inheritedRunners',
       'inheritedRunnersScored', 'catchersInterferencePitching',
       'sacBuntsPitching', 'sacFliesPitching', 'saves', 'holds', 'blownSaves',
       'assists', 'putOuts', 'errors', 'chances', 'index_y'],
      dtype='object')

In [10]:
import xgboost as xgb
import sklearn

features = ['homeRunsPitching','strikeOutsPitching','homeRuns','battingOrder','gamesPlayedBatting', 'flyOuts', 'groundOuts', 'runsScored','doubles','triples', 'strikeOuts']

X_train = train[features]
y_train = train['target1']

dtrain = xgb.DMatrix(X_train, label=y_train)

basic_bitch_model = xgb.train(dtrain = dtrain, params = {'eta': 10},)

ypred = basic_bitch_model.predict(dtrain)